@{
    ViewBag.Title = "公司编辑";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h1 class="head-tietle">公司增加 <a href="/Company/Index">公司管理</a></h1>

@using (Html.BeginForm("AddCompany", "Company", FormMethod.Post, new { id = "frmAddCompany" }))
{
    @Html.AntiForgeryToken()
    <table class="detail-table">
        <tr>
            <td class="row-title">公司名称</td>
            <td>
                <input name="CompanyName" class="textbox" />
            </td>
        </tr>
        <tr>
            <td class="row-title">
                地址
            </td>
            <td>
                <input name="Address" class="textbox" />
            </td>
        </tr>
        <tr>
            <td class="row-title">
                联系人
            </td>
            <td>
                <input name="Contacts" class="textbox" />
            </td>
        </tr>
        <tr>
            <td class="row-title">
                联系电话
            </td>
            <td>
                <input name="Phone" class="textbox" />
            </td>
        </tr>
        <tr>
            <td class="row-title">
                来源
            </td>
            <td>
                <input name="Source" class="textbox" />
            </td>
        </tr>
        <tr>
            <td class="row-title">
                描述
            </td>
            <td>
                <input name="Description" class="textbox" />
            </td>
        </tr>
        <tr>
            <td class="row-title">
                行业
            </td>
            <td>
                <input name="Industry" class="textbox" />
            </td>
        </tr>
        <tr>
            <td class="row-title">
                URl
            </td>
            <td>
                <input name="URL" class="textbox" />
            </td>
        </tr>
        <tr>
            <td class="row-title">
                公司性质
            </td>
            <td>
                <input name="Property" class="textbox" />
            </td>
        </tr>
        <tr>
            <td class="row-title">
                公司规模
            </td>
            <td>
                <input name="Scale" class="textbox" />
            </td>
        </tr>
    </table>
    <p><input type="submit" class="button blue" value="保存" /></p>
    <p>@Html.ValidationSummary(true)</p>
}
